backup-git.json
{
  "updatedAt": "2026-06-14T04:46:16.487Z",
  "createdAt": "2026-06-14T01:35:23.190Z",
  "id": "366KEWdy4mpbgyN3",
  "name": "BACKUP GIT",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "91ce71ce-50da-4302-bdaf-83caa814a9bf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -144,
        144
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "197c3847-cdee-4561-84ff-0f8653d459ab",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        352,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "fwGeBNIV6cfOZqLC",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "f83f4c66-0d87-4956-85ef-6d4c2d10e8b1",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        192,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getPullRequests",
        "owner": {
          "__rl": true,
          "value": "rattonche-rat",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "name"
        },
        "getRepositoryPullRequestsFilters": {}
      },
      "id": "190a4b78-5799-4e5f-957d-2b902bc424e4",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        32,
        144
      ],
      "webhookId": "73d4f736-aa35-48da-ab2f-8dc5010ee3e6",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "2hfBcmScTBxGrwp7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "rattonche-rat",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "name"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "826737c1-b5de-4d1b-a3c7-8e06a6ae7df0",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1152,
        64
      ],
      "webhookId": "f72a6fbe-2fa1-45a0-9685-883ea101c0ba",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "2hfBcmScTBxGrwp7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "rattonche-rat",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "name"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "43c935c7-519e-4b79-83a3-844432389394",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1152,
        224
      ],
      "webhookId": "dbdf258d-ec0c-4230-bdc5-c2b467239cb2",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "2hfBcmScTBxGrwp7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "146587eb-d766-47c1-8eb9-935bfe38d864",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        992,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "51e09752-90fa-48a7-966d-4e58ea57a54e",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        512,
        144
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "8d108675-f2c1-4832-8b52-24f6d1378c35",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        672,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "915d78b6-4828-4ba0-93f9-7654bd45a411",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "63c1997a-46f5-4d1b-8011-518981499ae7",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        832,
        144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "561fae7d-c4f5-4952-a1f3-57ffec9bc205",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "ef42ee7c-7e65-49a8-9dd7-e162eff249a3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "dbe5bd82-66a7-456b-b986-1612309bd643",
  "activeVersionId": "390e23de-c9ea-49ba-ad16-8e01a78e791f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-14T01:35:23.195Z",
      "createdAt": "2026-06-14T01:35:23.195Z",
      "role": "workflow:owner",
      "workflowId": "366KEWdy4mpbgyN3",
      "projectId": "ceCfGZDKMSsy6xBX"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-14T04:43:30.000Z",
    "createdAt": "2026-06-14T04:43:22.948Z",
    "versionId": "390e23de-c9ea-49ba-ad16-8e01a78e791f",
    "workflowId": "366KEWdy4mpbgyN3",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "id": "91ce71ce-50da-4302-bdaf-83caa814a9bf",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -144,
          144
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "197c3847-cdee-4561-84ff-0f8653d459ab",
        "name": "Retrieve workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          352,
          144
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "fwGeBNIV6cfOZqLC",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "f83f4c66-0d87-4956-85ef-6d4c2d10e8b1",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          192,
          144
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "rattonche-rat",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "name"
          },
          "filePath": "backup.json",
          "fileContent": "={{ JSON.stringify($json) }}",
          "commitMessage": "BACKUP.JSON"
        },
        "id": "190a4b78-5799-4e5f-957d-2b902bc424e4",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          32,
          144
        ],
        "webhookId": "73d4f736-aa35-48da-ab2f-8dc5010ee3e6",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "2hfBcmScTBxGrwp7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "rattonche-rat",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "name"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "826737c1-b5de-4d1b-a3c7-8e06a6ae7df0",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          1152,
          64
        ],
        "webhookId": "f72a6fbe-2fa1-45a0-9685-883ea101c0ba",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "2hfBcmScTBxGrwp7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "rattonche-rat",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "name"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
        },
        "id": "43c935c7-519e-4b79-83a3-844432389394",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          1152,
          224
        ],
        "webhookId": "dbdf258d-ec0c-4230-bdc5-c2b467239cb2",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "2hfBcmScTBxGrwp7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name }}",
                "operation": "contains",
                "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          }
        },
        "id": "146587eb-d766-47c1-8eb9-935bfe38d864",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          992,
          144
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "51e09752-90fa-48a7-966d-4e58ea57a54e",
        "name": "Json file",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          512,
          144
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "8d108675-f2c1-4832-8b52-24f6d1378c35",
        "name": "To base64",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          672,
          144
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Retrieve previous file names from Github",
          "height": 380,
          "width": 300,
          "color": 5
        },
        "id": "915d78b6-4828-4ba0-93f9-7654bd45a411",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "63c1997a-46f5-4d1b-8011-518981499ae7",
        "name": "Commit date & file name",
        "type": "n8n-nodes-base.set",
        "position": [
          832,
          144
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "### Retrieve and process workflows from n8n",
          "height": 380,
          "width": 460,
          "color": 3
        },
        "id": "561fae7d-c4f5-4952-a1f3-57ffec9bc205",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Commit + edit/create files if needed",
          "height": 380,
          "width": 460,
          "color": 4
        },
        "id": "ef42ee7c-7e65-49a8-9dd7-e162eff249a3",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          800,
          0
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows": {
        "main": [
          [
            {
              "node": "Json file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file": {
        "main": [
          [
            {
              "node": "To base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base64": {
        "main": [
          [
            {
              "node": "Commit date & file name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit date & file name": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Rafael Tonche",
    "name": "Version 390e23de",
    "description": "",
    "autosaved": true
  },
  "tags": []
}