yahoo-buscador-de-xml.json
{
  "updatedAt": "2026-06-14T04:27:24.890Z",
  "createdAt": "2026-06-14T01:45:01.637Z",
  "id": "nUNku9mLyOjHeiNF",
  "name": "Yahoo Buscador de XML",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "format": "resolved",
        "options": {
          "forceReconnect": 1
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -608,
        -272
      ],
      "id": "52a20d72-bfa0-44d8-bef9-9e962712f104",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "grMiRLw7RZ6bmZNi",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5e59bba-bc1e-42f5-8297-05c4a1ea0325",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "xml",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -192,
        -272
      ],
      "id": "7f275e54-92b4-4452-bc1d-342a0a3b9aeb",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os dados que vieram do e-mail anterior\nconst allItems = $input.all();\nlet output = [];\n\n// Passa por cada e-mail recebido\nfor (const item of allItems) {\n  // Verifica se existem anexos binários\n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      // Cria um item separado para cada anexo encontrado\n      output.push({\n        json: {\n          filename: item.binary[key].fileName,\n          fileExtension: item.binary[key].fileExtension,\n          mimeType: item.binary[key].mimeType,\n          fileSize: item.binary[key].fileSize\n        },\n        binary: {\n          // Mantém o arquivo físico atrelado a esse novo item\n          data: item.binary[key]\n        }\n      });\n    }\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -272
      ],
      "id": "0b106099-5e86-4469-b80e-0a9a9a7955db",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1eUKn2T8-bdd2xlvDyRrHU1WcJWDYPHM2",
          "mode": "list",
          "cachedResultName": "notas xml",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1eUKn2T8-bdd2xlvDyRrHU1WcJWDYPHM2"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -272
      ],
      "id": "fd0db0a7-5a45-405c-83ae-2f8537431f70",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DPPlJ2SYMRalUBRs",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Email Trigger (IMAP)": {
      "lastMessageUid": 487753
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a9271d76-9198-4714-abf1-22a3665faec8",
  "activeVersionId": "a9271d76-9198-4714-abf1-22a3665faec8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-14T01:45:01.642Z",
      "createdAt": "2026-06-14T01:45:01.642Z",
      "role": "workflow:owner",
      "workflowId": "nUNku9mLyOjHeiNF",
      "projectId": "ceCfGZDKMSsy6xBX"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-14T04:27:35.000Z",
    "createdAt": "2026-06-14T04:27:24.893Z",
    "versionId": "a9271d76-9198-4714-abf1-22a3665faec8",
    "workflowId": "nUNku9mLyOjHeiNF",
    "nodes": [
      {
        "parameters": {
          "format": "resolved",
          "options": {
            "forceReconnect": 1
          }
        },
        "type": "n8n-nodes-base.emailReadImap",
        "typeVersion": 2.1,
        "position": [
          -608,
          -272
        ],
        "id": "52a20d72-bfa0-44d8-bef9-9e962712f104",
        "name": "Email Trigger (IMAP)",
        "credentials": {
          "imap": {
            "id": "grMiRLw7RZ6bmZNi",
            "name": "IMAP account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c5e59bba-bc1e-42f5-8297-05c4a1ea0325",
                "leftValue": "={{ $json.fileExtension }}",
                "rightValue": "xml",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -192,
          -272
        ],
        "id": "7f275e54-92b4-4452-bc1d-342a0a3b9aeb",
        "name": "Filter"
      },
      {
        "parameters": {
          "jsCode": "// Pega todos os dados que vieram do e-mail anterior\nconst allItems = $input.all();\nlet output = [];\n\n// Passa por cada e-mail recebido\nfor (const item of allItems) {\n  // Verifica se existem anexos binários\n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      // Cria um item separado para cada anexo encontrado\n      output.push({\n        json: {\n          filename: item.binary[key].fileName,\n          fileExtension: item.binary[key].fileExtension,\n          mimeType: item.binary[key].mimeType,\n          fileSize: item.binary[key].fileSize\n        },\n        binary: {\n          // Mantém o arquivo físico atrelado a esse novo item\n          data: item.binary[key]\n        }\n      });\n    }\n  }\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          -272
        ],
        "id": "0b106099-5e86-4469-b80e-0a9a9a7955db",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1eUKn2T8-bdd2xlvDyRrHU1WcJWDYPHM2",
            "mode": "list",
            "cachedResultName": "notas xml",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1eUKn2T8-bdd2xlvDyRrHU1WcJWDYPHM2"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          16,
          -272
        ],
        "id": "fd0db0a7-5a45-405c-83ae-2f8537431f70",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "DPPlJ2SYMRalUBRs",
            "name": "Google Drive account"
          }
        }
      }
    ],
    "connections": {
      "Email Trigger (IMAP)": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Rafael Tonche",
    "name": "Version a9271d76",
    "description": "",
    "autosaved": true
  },
  "tags": []
}